# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Tests et couverture
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Système
.DS_Store
Thumbs.db 